@model LoginViewModel
@{
  Layout = "_AuthLayout";
  }

<div class="form__box">
  <p class="capitalize">sign in</p>
  <form id="signInForm" name="signInForm" method="POST">
  <label>Email:</label>
  <input type="email" name="Email" required />
  <br />

  <label>Password:</label>
  <input type="password" name="Password" required />
  <input id="SignInForm" name="submit" type="submit"></input>
  
      <ul>
        <li>dont have an account? <a class="capitalize"  asp-controller="Auth" asp-action="Register">Register</a></li>
      </ul>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Error))
  {
  <p style="color:red;">@ViewBag.Error</p>
  }
  <script src="~/js/sign-in-form.js"></script>
</div>
