<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <link rel="stylesheet" href="~/css/login.css" />
  </head>
  <body class="auth_page">
    @RenderBody()
  </body>
  <script type="module" src="~/js/index.js"></script>
</html>
