@model List<AccountModel>

  <h1>Lista Utenti</h1>

  <table class= "table" >
    <thead>
      <tr>
        <th> Nome </th>
        <th> Cognome </th>
        <th> Email </th>
        <th> Numero Conti </th>
      </tr>
    </thead>
    <tbdy>
      @foreach(var utente in Model)
      {
      <tr>
        <td> @utente.Nome </td>
        <td> @utente.Cognome </td>
        <td> @utente.Email </td>
        <td>@(utente.Conti?.Count ?? 0) </td>
      </tr>
      }
</tbody>
</table>
